article {
    grid-area: daily;
    padding: 30px;
    gap: 20px;

    color: white;
    background-color: #7198C8;
    border-radius:  0px  20px 20px 0px;
    box-shadow: 6px 3px 20px rgba(82, 81, 81, 0.1);
}

section h1{
    font-size: 85px;
    font-weight: bolder;
    text-transform: capitalize;
}

section h2 {
    margin-top: -20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

section h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}


article header {
    gap: 10px;
}

article header img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(4px 0px 15px #b1afaf);
    object-fit: cover;
}

.format {
    margin-top: 20px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    place-self: start;
  }

.format-no-select {
    opacity: 70%;
}

.format-select {
    opacity: 100%;
}

p a {
    color: white;
}

@media (max-width: 768px) {
    article {
      justify-self: center;
      border-radius: 20px 20px 0px 0px;
      padding: 15px;
    }
    
  }