.forecast-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 13px 10px;
    box-shadow: 0px 1px 13px 0px rgba(212,227,245,0.66);
}

.forecast-card img {
    padding: 0px;
    margin-left: -18px;
}

.forecast-card p {
    color: #073C73;
    font-weight: 600;
}

.info-forecast {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.info-forecast h4 {
    max-width: 100px;
    text-transform: capitalize;
}	

.wind-humidity-info p{
    font-size: 12px;
    font-weight: 500;
    color: rgb(168, 168, 168);
}

.min-forecast {
    font-size: 14px;
    font-weight: 500;
    color: #7198C8;
}

.max-forecast {
    font-weight: 500;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

@media (max-width: 768px) {
    
    .info-forecast {
        justify-content: start;
    }


}