form {
    gap: 10px;
}

input {
    border: rgb(168, 168, 168) 1px solid;
    margin: 5px auto;
    padding: 5px;
    width: 60%;
    border-radius: 3px;
    box-shadow: 6px 3px 20px rgba(82, 81, 81, 0.1);
    height: 40px
  }
  
  form button {
    height: 40px;
    width: 40px;
    border: none;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    box-shadow: 6px 3px 20px rgba(82, 81, 81, 0.1);
  }

  .search-button {
    background-color: #7198C8;
  }

  .current-button {
    background-color: #f8d072;
  }
  
  form button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }