#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D4E3F5;

}

.general-app {
  display: grid;
  grid-template-areas: "forecast daily";
  grid-template-columns: 1fr auto;
  margin: 15px;
}

.ss {
  grid-area: forecast;
}

.forecast-section {
  grid-area: forecast;
  background-color: #fff;
  padding: 30px;
  color: #073C73;
  height: 90%;
  align-self: center;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 6px 3px 20px rgba(82, 81, 81, 0.1);
}

.forecast-section h1 {
  margin: 15px 0px;
  font-size: 25px;
}

@media (max-width: 768px) {
  .general-app {
    grid-template-areas: "daily" "forecast";
    grid-template-columns: 1fr;
  }

  .forecast-section {
    height: 100%;
      width: 90%;
      justify-self: center;
      border-radius: 0px 0px 20px 20px;
      padding: 15px;
  }
  
}