#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D4E3F5;
}

body {
  background-color: #D4E3F5;
  margin: 15px;
}

.general-app {
  display: grid;
  grid-template-areas: "forecast daily";
  grid-template-columns: 1fr auto;
  align-items: center;
  
}

.forecast-section {
  grid-area: forecast;
  background-color: #ffffffbd;
  padding: 30px;
  color: #073C73;
  align-self: center;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 6px 3px 20px rgba(82, 81, 81, 0.1);
}

.forecast-section h1 {
  margin: 15px 0px;
  font-size: 25px;
}

.forecast-conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  height: 100%;
}

@media (max-width: 768px) {

  #root {
    display: block;
  }

  .general-app {
    grid-template-areas: "daily" "forecast";
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }

  .forecast-section {
    height: max-content;
    width: 90%;
    justify-self: center;
    border-radius: 0px 0px 20px 20px;
    padding: 15px;
  }

  .forecast-conteiner {
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  
}

@media  (max-width: 425px) {
  .forecast-conteiner {
    grid-template-columns: 1fr 1fr;
  }
  
}