:root {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
